@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;

  color: var(--clr-sw-yellow);
  list-style: none;
}

:root {
  --clr-sw-yellow: #ffe81f;
  --clr-sw-yellow-hover: #ffe91fd0;
  --clr-sw-black: #000;
  --clr-sw-gradient: linear-gradient(
    74deg,
    rgba(116, 6, 6, 1) 0%,
    rgba(46, 12, 121, 1) 100%
  );
}

/* Component classes */
.button {
  background-color: var(--clr-sw-yellow);
  color: var(--clr-sw-black);

  border-radius: 12px;
  border: none;

  padding: 10px 15px;
  text-align: center;
  text-decoration: none;

  transition: 300ms;

  margin-top: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: var(--clr-sw-yellow);
  background-color: var(--clr-sw-black);

  padding: 1.5em;
  border-radius: 15px;

  border: 2px solid var(--clr-sw-yellow);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
  color: var(--clr-sw-black);
  background-color: var(--clr-sw-yellow-hover);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
}
.link {
  text-decoration: none;
  color: var(--clr-sw-yellow);
}

.link:hover {
  color: var(--clr-sw-yellow-hover);
}

span {
  font-weight: bold;
}

/* Nav bar styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--clr-sw-black);
  border-bottom: 4px solid var(--clr-sw-yellow);
}

.logo {
  height: 120px;
  margin-left: 20px;
}

.nav-link-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-link-wrapper > * {
  margin: 0 0.8em;
  text-align: center;
}

.swapi-link,
.react-link {
  color: var(--clr-sw-yellow);
  text-decoration: none;
}

.swapi-link:hover {
  color: var(--clr-sw-yellow-hover);
}

.react-link:hover {
  color: #61dbfb;
}

/* Page styles */
.page {
  background: var(--clr-sw-gradient);
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 1em;

  height: 84vh;
}

.person-page,
.film-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.person-page {
  text-align: center;

  padding: 1em;

  height: 84vh;
}

.film-page {
  padding-top: 1em;
}

/* Card styles */
.people-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);

  gap: 2em;

  place-content: center;

  padding: 1.5em;

  background: var(--clr-sw-gradient);
}

.films-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 2em;

  place-content: center;

  padding: 1.5em;

  background: var(--clr-sw-gradient);
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--clr-sw-yellow);
  text-align: center;
}

.person-card {
  width: 65%;
  margin: auto;
}

.film-card {
  width: 85%;
  margin: auto;
}

.char-card * {
  padding-top: 1em;
}

.char-info,
.film-info {
  list-style: none;
}

.opening-crawl {
  text-align: center;
  font-style: italic;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--clr-sw-black);
  padding-block: 0.5em;
}

/* Large tablet and laptop size */
@media screen and (min-width: 769px) {
  .film-card {
    width: 75%;
    margin: auto;
  }
}

/* Desktop size */
@media screen and (min-width: 1200px) {
  .film-card {
    width: 65%;
    margin: auto;
  }
}
